# Task 1

#### Get data from wikipedia

In [1]:
# Get Data from wikipedia
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

r = requests.get(url)
df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
df = df_list[0]
df.columns = ['PostalCode', 'Borough',  'Neighborhood']
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood. More than one neighborhood can exist in one postal code area. These two rows are combined into one row with the neighborhoods separated with a comma like shown above.

#### We only process the cells that have an assigned borough and ignore cells with a borough that is Not assigned. We drop the rows that contain 'Not assigned' value

In [2]:
df = df.drop(df[df['Borough'] == 'Not assigned'].index).reset_index(drop=True)
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Check if a cell has a borough but a Not assigned neighborhood. If yes, then the neighborhood will be the same as the borough.

In [3]:
df[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

From above, we can see that there is no Neighborhood column that has 'Not Assigned' value. Thus, we won't change the value

#### Use the .shape method to print the number of rows of dataframe

In [12]:
df.shape

(103, 5)

# Task 2

In this task, I use csv data instead of geocoding API.

In [14]:
# Read CSV file
coordinates = pd.read_csv('D://Downloads/Geospatial_Coordinates.csv')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
# Looping every row in postal code column to get latitude and longitude
lat_list, long_list = [], []
for row in df['PostalCode']:
    lat_list.append(coordinates.loc[coordinates['Postal Code'] == row, 'Latitude'].values[0])
    long_list.append(coordinates.loc[coordinates['Postal Code'] == row, 'Longitude'].values[0])

In [16]:
#Merge latitude and longitude to dataframe
df['Latitude'] = lat_list
df['Longitude'] = long_list
df.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937